<div class="container-fluid"></div>

      <div class="jumbotron" >
           
          
        <section>
                <!-- <h2>This is  question  <%= @question.id %> </h2> -->
                <h2>  <%= @question.title %> </h2>
                <h4> <strong>Body: <%= @question.body %></strong> </h4>
        </section>

      </div>

      <div class="center">
        <section>
            <h1>Answers</h1>
            <%@question.answers.each do |answer|%>
                <div>
                      <h5><%= answer.body%></h5>
                </div>
            <% end %>  
        </section>
   <div class="row">

        

        <section class="col-lg-4">
               <h2 class="text-success">Answer that Ish!</h2>
               <%= form_for [@question, @answer] do |f|%>

                    <div>
                          <%= f.label :body%>
                          <%= f.text_area :body%>
                    </div>

                    <%= f.submit "Answer that Ish!" %>
              <% end %>

              <%= link_to "Edit question", edit_question_path(@question),class: "btn btn-primary" %>
              <%= link_to "Back to question!", questions_path,class: "btn btn-primary" %>
              <%= link_to "Delete this question!", question_path, method: :delete, data: {confirm: "Are you sure you want to delete this question?"}, class: "btn btn-warning"   %>
             
        </section>

        </div>
        
</div>