<h1> <%= @user.username %> </h1>

<section>
    <%= @user.email%>
</section>


<p> This user is <%= @user.username %> 
<%=@user.email %></p>
<%= link_to "Edit user", edit_user_path(@user)%>
<%= link_to "Back to user!", users_path%>
<%= link_to "Delete this User!", user_path, method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
